# Prerequisites
*.d

# Compiled Object files
*.o
*.lo
*.slo
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.a
*.la
*.lai
*.lib

# Executables
*.exe
*.out
*.app

# Diff
*.patch
*.diff

# CMake
cmake-build-*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
CTestTestfile.cmake

# Jetbrains
.idea/

# VisualStudio
.vs/

# VisualStudioCode
.vscode/
*.code-workspace
